<div class="container-fluid container1 "[ngClass]="{'arabictext': isArabic}">
  <div class="row">

    <div class="col-sm-6 con1">
      <img src="../../../assets/download2.jpg" class="image1"  />
    </div>

    <div class="col-sm-6 rightSide row">
      <div class="col-sm-4 firstDiv">
        <p>{{'footer.links' | translate}}</p>
        <a href="">{{'footer.links' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.Home' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.About us' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.Cart' | translate}}</a> <br /><br /><br />
      </div>
      <!--the second div-->
      <div class="col-sm-4 firstDiv">
        <p>{{'footer.My account' | translate}}</p>
        <a href="">{{'footer.Support & Services' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.installment' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.Redeem Points' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.E-VOUCHER' | translate}}</a> <br /><br />
        <a href="">{{'footer.Live Chat' | translate}}</a> <br /><br />
        <a href="">{{'footer.Request a shipment return' | translate}}</a> <br /><br /><br />
      </div>

      <div class="col-sm-4 firstDiv">
        <p>{{'footer.Why to buy from Dubai Phone' | translate}}</p>
        <a href="">{{'footer.Help' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.Corporate enquiries' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.Order Tracking' | translate}}</a> <br />
        <br />
        <a href="">{{'footer.Refund and Returns Policy' | translate}}</a> <br /><br />
        <a href="">{{'footer.Terms & conditions' | translate}}</a> <br /><br />
      </div>
    </div>

    <svg
    class="absolute left-[-2rem] md:left-[4%] bottom-[-11rem] md:bottom-[-13%] w-[120rem] md:w-full h-[65rem] md:h-[800px] rotate-[-3deg] z-[1]"
    viewBox="0 0 1563 712"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    >
    <path
    d="M14.235 712C-95.7071 82.9165 432.199 74.8051 1563 0C810.632 103.646 132.977 177.099 14.235 712Z"
      fill="#2B7AB9"
      ></path>
    </svg>

    <!--second Div in our footer-->

    <div class="second row">
      <div class="col-sm-6 left">
        <h1>{{'footer.Contact us' | translate}}</h1>
      </div>
      <div class="col-sm-6 right">
        <h2>{{'footer.Ready to Make Your Digital Life?' | translate}}</h2>
      </div>
    </div>

    <!--Third Div in our footer-->

    <div class="third row">
      <div class="col-sm-3 left">
        <section class="d-flex justify-content-center">
        <!-- Left -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram fa-2x"></i>
          </a>

          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-tiktok fa-2x"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-youtube fa-2x"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f fa-2x"></i>
          </a>
        </div>
      </section>
    </div>

    <div class="col-sm-2 between">
      <i class="fa-solid fa-phone fa-2x"></i>
      <h1 style="display: inline; font-size: 30px; font-weight: 600">15254</h1>
    </div>

    <div class="col-sm-7 right row">
      <div class="col-sm-4 divBorder">
        <P>Get It ON</P>
        <i class="fa-brands fa-google-play fa-2x"></i>
        <h2 style="display: inline">Google Play</h2>
      </div>
      <div class="col-sm-4">
        <P>Download On</P>
        <i class="fa-brands fa-apple fa-2x"></i>
        <h2 style="display: inline">Apple Store</h2>
      </div>
      <div class="col-sm-4">
        <P>Explore it On</P>
        <i class="fa-solid fa-bag-shopping fa-2x"></i>
        <h2 style="display: inline">AppGallery</h2>
      </div>
    </div>
  </div>

  <div class="line"></div>
  <div class="last">2024 © Dubai Phone. All right reserved.</div>
</div>
</div>
