<div class="wrapper" >
<app-landing></app-landing>

  <app-categories [Categories]="Categories"></app-categories>
  <section>
    <div class="container mx-auto mx-5 position-relative">
      <a href="#">
        <img class="w-100" [src]="'assets/Images/Home/'+ ('home.sectionImages.hurryUp' | translate) " alt="hurry-up">
      </a>
    </div>
  </section>
  <app-brands [brands]="Brands"></app-brands>
  <app-product-section [products]="Products" [imagePath]="'assets/Images/Home/'+('home.sectionImages.newArrival' | translate)" [title]="('home.title.newArrival' | translate) "></app-product-section>
  <app-product-section [products]="Products" [imagePath]="'assets/Images/Home/'+('home.sectionImages.apple' | translate)" [title]="('home.title.apple' | translate)" ></app-product-section>
  <app-product-section [products]="Products" [imagePath]="'assets/Images/Home/'+('home.sectionImages.laptop' | translate)" [title]="('home.title.laptop' | translate)" ></app-product-section>
  <app-product-section [products]="Products" [imagePath]="'assets/Images/Home/'+('home.sectionImages.watch' | translate)" [title]="('home.title.watch' | translate) " ></app-product-section>
  <app-product-section [products]="Products" [imagePath]="'assets/Images/Home/'+('home.sectionImages.home' | translate)" [title]="('home.title.home' | translate) " ></app-product-section>
  <app-product-section [products]="Products" [imagePath]="'assets/Images/Home/'+('home.sectionImages.sound' | translate)" [title]="('home.title.sound' | translate)" ></app-product-section>
  <app-why-us></app-why-us>
</div>
