<div class="div my-5 py-4">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <img src="/assets/Images/404.png" alt="404" />
    <h1 class="text-black font-semibold text-center mt-3 fs-2">
      That page can’t be found.
    </h1>
    <p class="text-center fs-5 fw-light font-normal mt-1">
      We’re sorry, but the page you requested could not be found..
      <br class="hidden md:block" />
      Please go back to the home page..
    </p>
    <a class="btn mt-3" [routerLink]="['']" routerLinkActive="router-link-active">
      <img src="/assets/Images/home-icon2.svg" alt="">
      Back to home page
    </a>
  </div>
</div>
