<div class="container">
  <div class="top">
    <p>Home > About us</p>
  </div>

  <div class="card text-center main">
    <div class="card-body">
      <h1 class="card-title">About Dubai Phone</h1>
      <p class="card-text">
        As a premier electronics retailer in Egypt, Dubai Phone boasts an
        impressive network of X branches across the country. We're your gateway
        to cutting-edge technology, featuring a wide array of smartphones,
        gadgets, and more.
      </p>
    </div>
  </div>

  <div class="row g-0" id="third">
    <div class="col-md-6">
      <div class="card-body">
        <h1 class="card-title">Who We Are</h1>
        <p class="card-text text2">
          At Dubai Phone, we're not just retailers; we're passionate tech
          enthusiasts dedicated to transforming your shopping journey. Our team
          is driven by a commitment to provide top-tier products, unparalleled
          service, and an unrivaled tech shopping experience.
        </p>
      </div>
      <div class="containerlinks">
        <p class="divheader">Our Core Values</p>
       
          <div class="top1">
            <div>
              <i class="fa-solid fa-shield-halved"></i> Secure Transactions
            </div>
            <div>
              <i class="fa-solid fa-truck-fast"></i> Fast Shipping
            </div>
          </div>
          <div class="bottom">
            <div>
              <i class="fa-solid fa-cube"></i> Diverse Selection
            </div>
            <div>
              <i class="fa-brands fa-cloudsmith"></i> Quality Assurance
            </div>
          </div>
        
      </div>
    </div>

    <div class="col-md-6 bord">
      <img
        src=""
        class="img-fluid rounded-start image"
        alt=""
      />
    </div>
  </div>

  <div class="row g-0" id="third">
    <div class="col-md-6 bord">
      <img
        src=""
        class="img-fluid rounded-start image2"
        alt=""
      />
    </div>

    <div class="col-md-6 ">
      <div class="card-body">
        <h1 class="card-title">What We do</h1>
        <p class="card-text text2">
          Our mission revolves around curating an eclectic selection of electronics, catering to both innovation seekers and budget-conscious shoppers. From the latest releases to must-have gadgets, Dubai Phone is your trusted destination for all things tech.
        </p>
      </div>
      <div class="containerlinks">
       
       
          <div class="top1">
            <div>
              <p class="num">15+</p>
              <p class="desc"> Branches in Egypt</p>
            </div>
            <div>
              <p class="num"> 18+</p>
              <p class="desc"> Brands Represented</p>
            </div>
          </div>
          <div class="bottom">
            <div>
              <p class="num"> 23k+</p>
              <p class="desc">Happy Customers</p>
            </div>
            <div>
              <p class="num">7k+</p>
              <p class="desc">Orders Delivered</p>
            </div>
          </div>
        
      </div>
    </div>

   
  </div>
</div>
