    <div class="container">
        <div class="top">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">  >  Back to Dashboard</a>
            </li>
        </div>
        <div class="main">
    
            <div class="first">
                <label for="fname">First Name*</label>
                <input type="text" id="fname" name="firstname" placeholder="">
            </div> <br> <br>
    

            <div class="first">
                <label for="fname">Last Name*</label>
                <input type="text" id="fname" name="firstname" placeholder="">
            </div> 
            <br> <br>

            <div class="first">
                <label for="fname">Display Name*</label>
                <input type="text" id="fname" name="firstname" placeholder="samah">
                <p>This will be how your name will be displayed in the account section and in reviews</p>
            </div> 
            <br> <br>


            <div class="first">
                <label for="emailA">Email Address</label>
                <input type="email" id="emailA" name="emailA" placeholder="yaraawd795@gmail.com">
            </div> 
         
            <!--the password div-->
            <div class="passwordchange">
                <h1>Password Change</h1>
             
                <div class="first">
                    <label for="currentPassword">Current Password  (leave blank to leave unchanged)</label>
                    <input type="password" id="currentPassword" name="password2" placeholder="">
                </div> 

                <div class="first">
                    <label for="newpassword">New password (leave blank to leave unchanged)
                    </label>
                    <input type="password" id="newpassword" name="password2" placeholder="">
                </div> 

                <div class="first">
                    <label for="confirmpass">Confirm new password
                    </label>
                    <input type="password" id="confirmpass" name="password3" placeholder="">
                </div> 
            </div>
           
        </div>

        <button type="submit" class="submit-btn"><i class="fa-solid fa-pen-to-square"></i>Save Changes</button>
    </div>
    
  
  

